.project-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-color);
    align-items: center;
    width: 100%;
    border-radius: 4px;
    max-height: 50vh;
}

.project-bar__open-btn svg {
    fill: var(--accent-color);
    height: 30px;
    width: 30px;
}

.project-bar__open-btn {
    border: none;
    background-color: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 -3px 5px rgba(0,0,0,0.25));
    cursor: pointer;
    position: relative;
    bottom: 1.5rem;
}

.project-bar__open-btn:hover svg, .project-bar__open-btn:hover {
    background-color: var(--accent-color);
    fill: var(--background);
}

.project-bar__project-btn {
    cursor: pointer;
    border: none;
    background: none;
    color: var(--text-color);
    height: 30px;
    font: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 25px 5px;
    margin-bottom: 5px;
}

.project-bar__project-btn span {
    position: absolute;
    left: 15%;
}

.project-bar__project-btn svg {
    fill: var(--secondary-color);
    height: 24px;
    width: 24px
}

.project-bar__container {
    display: none;
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
}

.project-bar__container > .project-bar__project-btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.project-bar__project-btn:hover {
    background: fixed;
    background-color: var(--secondary-color);
    transition: 200ms ease;
}

.project-bar__project-btn:hover svg{
    fill: var(--accent-color);
    transition: 200ms ease;
}

.project-bar__project-btn--add {
    display: none;
    width: 100%;
    border-top: 1px solid var(--secondary-color);
    height: 60px;
}

.project-bar__container.active {
    display: flex;
    flex-direction: column;
}

.project-bar__project-btn--add.active {
    display: flex;
}

.edit-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.edit-button:hover > svg {
    background-color: var(--accent-color);
    fill: var(--background);
    transition: 200ms ease;
}

.edit-button:hover {
    background-color: var(--accent-color);
    transition: 200ms ease;
}



