:root {
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
    --sidebar-color: #18191D;
    --priority-color: #FF8A00;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

body {
    min-height: calc(100vh - 20px);
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-heading {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.main {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-form__open-btn {
    box-sizing: border-box;
    padding: 6px 20px;
    width: 100%;
    background: none;
    border: none;
    border-radius: 40px;
    font: inherit;
    color: var(--accent-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.5rem;
}

.todo-form__open-btn svg {
    fill: var(--accent-color);
}

.todo-form__open-btn:hover {
    background-color: var(--primary-color);
}

.todo-form__inputs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 15px;
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
}

.todo-form__inputs-container.active {
    visibility: visible;
    transition: max-height 0.5s ease-in-out;
    transition: visibility 0s, opacity 0.2s linear;
    opacity: 1;
    max-height: 500px;
}

input, select  {
    caret-color: var(--accent-color);
    color: var(--text-color);
    font: inherit;
    background: none;
    border: 1px solid var(--secondary-color);
    padding: 0.3rem;
    border-radius: 40px;
}

input:focus{
    outline: none;
}

select * {
    background-color: var(--background);
}

.todo-input--title {
    grid-column: 1/-1;
}

.todo-input--description {
    grid-column: 1/-1;
}

::-webkit-calendar-picker-indicator {
    background-color: var(--accent-color);
}

.todo-form__add-button {
    background-color: var(--accent-color);
    padding: 5px 30px;
    border: none;
    border-radius: 40px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
    grid-column: 1/-1;
}

.main {
    flex-grow: 1;
}

.todo {
    margin-bottom: 10px;
    padding: 5px 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex; 
    align-items: start;
}

.todo-editables {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
}

.todo-text {
    padding-left: 15px;
    padding-right: 0;
    transition: 200ms ease;
    border: none;
    grid-column: 1/-1;
    max-width: 100%;
}

.delete-button, .priority-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button svg {
    transition: 200ms ease;
}

.delete-button:hover svg {
    fill: red;
}

.priority-button svg {
    fill: var(--secondary-color)
}

.priority-button:hover svg {
    fill: var(--accent-color);
}

.priority-button svg {
    transition: 200ms ease;
}

.priority {
    border: 1px solid var(--priority-color);
}

.priority .priority-button svg {
    fill: var(--priority-color);
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

.checkbox:checked ~ .custom-checkbox {
    background-color: var(--accent-color);
}

.checkbox:checked ~ .custom-checkbox svg {
    fill: var(--primary-color);
}

.checkbox:checked ~ .todo-text {
    text-decoration: line-through;
    color: var(--secondary-color);
}

.checkbox {
    display: none;
}

.todo-description {
    grid-column: 1/-1;
    max-width: 100%;
    font-size: 0.8rem;
    padding-left: 15px;
    border: none;
}

.todo-duedate {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 0.9rem;
    border: 1px solid var(--text-color);
    padding: 0.2rem 0.5rem;
    border-radius: 40px;
    align-self: flex-start;
}

::placeholder{
    color: var(--secondary-color);
  }

.todo-description::placeholder{
    color: var(--text-color);
}

.todo-edit-form {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.todo-edit-form select {
    border: 1px solid var(--text-color);
    margin-left: 15px;
    margin-top: 10px;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
}




@media(max-width: 500px){
    html {
        font-size: 12pt;
    }

    .add-button {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    .app-heading {
        margin-top: 50px;
        font-size: 15vw;
    }
}
